/* css reset*/

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* Utility Styles 
These styles will let padding/border be automatically added to our width calculations.
The row styles create a "clear fix" for us so we can float things inside of containers with a class of "row."
We also remove the default margin from the body, give our main container a width of 100% with a max of 1000px, 
and then we center it with margin: 0 auto. 
The last thing we do is make all images responsive by setting their max-width to 100%. */

* {
    box-sizing: border-box;
}
.row {
    width: 100%;
}
.row:after,
.row:before {
    content: "";
    display: table;
    clear: both;
}
body {
    background-color: rgb(243, 243, 243);
    font-size: 16px;
    margin: 0;
}
img {
    max-width: 100%;
}

a{
    color: #6ec2ff;
    text-decoration: none;
}

.box{ /* primary container for most things on the website*/
    padding: 2em;
    background: white;
    margin: 0 5%;
}

.center{
    text-align: center;
}

.ibox{ /* invisible box : used to space out page*/
    padding: 2em;
    margin: 0 5em;
}
.left{ /* content on left side of page */
    width: 50%;
}
.right{ /* content on right side of page */
    width: 50%;
}

/* End Utility Styles */

/*
! hexcodes for colors used in style tile

#f2ec0d
#2fa5fb
#6ec2ff
#24dbf4
#f4cb24
#faff78

*/


/* Header Styles */

header {
    display: flex;
    padding-top: 1.5em;
    padding-left: 5%;
    padding-right: 5%;
    background: black;
}
header .right{
    display: flex;
    justify-content: flex-end;
    padding-top: 5%;
    padding-left: 38%;
}
header .right a{
    color: white;
    padding-left: 1em;
}
img#logo{
    display: flex;
    max-width: 15%;
    width: max-content;
    
}
nav{
    padding-left: 5%;
    padding-right: 5%;
    background: black;
    display: flex;
    border: 1px solid black;
}
nav a {
    padding: .5em 0;
    text-align: center;
    width: 15%; /* 100/7 is ~14.28 */
    color: white;
    text-decoration: none;
    font-size: 1.5em;
}
nav a:hover {
    background: #6ec2ff;
    text-decoration: underline;
    color: white;
    font-weight: bold;
}


/* End Header Styles */


/* Body Styles*/
#homehead{
    position: relative;
    display: flex;
}

#homehead h1{
    font-size: 4.5vw;
    background: #faff78;

    float:left;
    position:absolute;
    padding: .25%;
    width: fit-content;
    height: auto;
    margin-left: 1%;
    margin-right: 30%;

    border-top: .5px solid black;
    border-left: .5px solid black;
    border-right:  2px solid black;
    border-bottom:2px solid black;
}

img#homecov{
    display: flex;
    margin: 0 auto;
}

.box img{
    min-width: 50%;
}

.box ul{
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
}

.box li{
    margin: 2em 3em;
    
}

.box li.item{
    border:1px solid gainsboro;
    color: black;
}
.box li.item a{
    color: black;
    text-align: center;
}

.box li.item a p{
    margin-top: 0;
    font-weight: bold;
    text-align: center;
}

.box li.item a p:hover{
    text-decoration: underline;
}


.box h1,p{
    text-align: left;
}

.box h1.cen{
    text-align: center;
    font-size: 300%;
}


/* Footer */
footer{
    background-color: black;
    color: white;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 1em;
    padding-top: 1em;
}

footer ul{
    list-style-type: none;
    padding: 0;
    padding-bottom: 1em;
}

footer li{
    padding-bottom: .5em;
}


footer span{
    font-size: smaller;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-left: 1em;
}

/* End Footer Styles */